In [4]:
import os, sys
import glob
import time
from datetime import timedelta, datetime
import pandas as pd
from plotly.graph_objs import Scatter,Layout
import plotly
import plotly.offline as py
import numpy as np
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
#setting offilne
plotly.offline.init_notebook_mode(connected=True)
import pyarrow.parquet as pq
import json
from gezi import tqdm
import gezi

In [5]:
t = pq.read_table('../input/train/part_1/context.parquet')
dc1 = t.to_pandas()

In [6]:
dc1

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
0,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,1904212554,0,2247014434,1424424164,0
1,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,4106149810,2572513449,2247014434,1424424153,1
2,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3471448782,0,2247014434,1424424165,2
3,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3408428944,0,2247014434,1424424159,3
4,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3897511701,0,2247014434,1424424165,4
...,...,...,...,...,...,...,...,...,...,...,...
3208241,0,f7e745854c964620cea4ddfba338997a,e5f6bc8339ca5d6014c5b16a155c982d,3d731b6cd0c6fcb58ed6ece61f2b93f5,1c58433296d1b994e72747f4b3cddbf5,a9f1c66604ba2f9d69a9d945a8bfb1a8,3568116718,0,4253243724,1424368139,3208241
3208242,0,f7e745854c964620cea4ddfba338997a,e5f6bc8339ca5d6014c5b16a155c982d,3d731b6cd0c6fcb58ed6ece61f2b93f5,1c58433296d1b994e72747f4b3cddbf5,a9f1c66604ba2f9d69a9d945a8bfb1a8,2392759732,0,4253243724,1424367951,3208242
3208243,0,f7e745854c964620cea4ddfba338997a,e5f6bc8339ca5d6014c5b16a155c982d,3d731b6cd0c6fcb58ed6ece61f2b93f5,1c58433296d1b994e72747f4b3cddbf5,a9f1c66604ba2f9d69a9d945a8bfb1a8,3434540519,0,4253243724,1424368152,3208243
3208244,0,13bc10caa52bee55b48ec9e91ba92a50,49b4350906323cb44f6ce51ab22f2379,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,f717e2165118b1ec42fdc6057d65ebbd,2004359521,1665726605,3806913320,1424416282,3208244
3208245,1,13bc10caa52bee55b48ec9e91ba92a50,49b4350906323cb44f6ce51ab22f2379,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,f717e2165118b1ec42fdc6057d65ebbd,816517913,3192798612,3806913320,1424416282,3208245

In [4]:
t = pq.read_table('../input/train/part_2/context.parquet')
dc2 = t.to_pandas()

In [33]:
t = pq.read_table('../input/train/part_30/context.parquet')
dc30 = t.to_pandas()

In [5]:
dc2

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
0,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,731596015,1436229803,3065549804,1424450984,0
1,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,2408359345,1285724554,3065549804,1424450952,1
2,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,857908303,0,3065549804,1424451018,2
3,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,1427858618,0,3065549804,1424450987,3
4,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,2821273215,0,3065549804,1424450987,4
...,...,...,...,...,...,...,...,...,...,...,...
3319810,1,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,4250365497,1256605048,3781572183,1424454441,3319810
3319811,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,185658087,1860183527,3781572183,1424454441,3319811
3319812,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,3541459314,0,3781572183,1424454442,3319812
3319813,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,636502534,2286263208,3781572183,1424454439,3319813
3319814,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,3039103562,0,3781572183,1424454442,3319814

In [6]:
len(set(dc1.did))

75017

In [7]:
len(set(dc2.did))

76329

In [8]:
len(set(dc2.did).difference(set(dc1.did)))

66239

In [9]:
t = pq.read_table('../input/train/part_3/context.parquet')
dc3 = t.to_pandas()

In [10]:
len(set(dc3.did))

77435

In [11]:
len(set(dc3.did).difference(set(dc2.did).union(set(dc1.did))))

60830

In [12]:
list(set(dc3.did).difference(set(dc2.did).union(set(dc1.did))))[0]

'd37515c00fac7a4948a5e885e8dd0972'

In [13]:
dc3[dc3.did=='91d5a7b7ae85266d7fef72f812e8c37c']

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
2005398,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,1241251750,969563992,1359546144,1424615325,2005398
2005399,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,3455749840,1639826783,1359546144,1424581702,2005399
2005400,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,1799090238,740820677,1359546144,1424615321,2005400
2005401,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,3356249183,2298375070,1359546144,1424581689,2005401
2005402,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,3750001454,1758310501,1359546144,1424537104,2005402
...,...,...,...,...,...,...,...,...,...,...,...
2005527,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,119656262,876699635,1359546144,1424537258,2005527
2005528,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,1439474535,0,1359546144,1424537124,2005528
2005529,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,1999241852,0,1359546144,1424581690,2005529
2005530,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,3898034810,0,1359546144,1424581680,2005530
2005531,0,cd9ae53a622604a3a12081c84a7bcc86,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,ba195dd85894d6957bc61edca5ac7026,91d5a7b7ae85266d7fef72f812e8c37c,4023224749,0,1359546144,1424615258,2005531

In [14]:
t = pq.read_table('../input/train/part_3/user.parquet')
du3 = t.to_pandas()

In [15]:
du3[du3.did=='91d5a7b7ae85266d7fef72f812e8c37c']

,did,watch
22855,91d5a7b7ae85266d7fef72f812e8c37c,"[[1424615260, 3188957699], [1424537128, 383587..."

In [16]:
len(set(dc1.vid))

47719

In [17]:
len(set(dc2.vid))

46280

In [18]:
dc3['aver'].nunique()

60

In [19]:
t = pq.read_table('../input/train/part_1/item.parquet')
di1 = t.to_pandas()

In [20]:
di1

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv
0,5893106,25,1411552000,[],600008821,3174145329,2234347078,0,86.110001,0.0,1396.0
1,15819492,98,1407204002,"[2950753864, 3600550670, 3606342894, 333836411...",638675564,1413776458,2234347078,0,6954.200195,0.0,1100.0
2,16814925,21,1380506136,[],511097257,3174145329,2234347078,0,317.190002,0.0,4196.0
3,43514419,41,1394444128,[3969330486],3803211341,1574940925,2234347078,0,442.540009,0.0,48.0
4,66011667,64,1330590997,"[359879236, 3688805521, 3190039951]",1009927708,3443952599,3172394293,1112680423,213.639999,0.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
59112,4183392248,69,1377519802,[],80040654,1413776458,3172394293,0,102.459999,0.0,28.0
59113,4209813609,99,1325172001,"[2481153527, 3779642001]",375925933,1413776458,2234347078,0,4708.799805,0.0,700.0
59114,4223027093,87,1397116617,[3936607703],3834636988,605350568,2234347078,0,83.930000,0.0,268.0
59115,4229590239,46,1402491146,"[4215646548, 1736046716, 3437908489, 161060801...",1068867213,1820266297,3172394293,0,190.750000,0.0,648.0
59116,4231496370,20,1335347883,[980237148],706830233,470292959,2234347078,0,1891.150024,0.0,0.0

In [21]:
die = gezi.read_parquet('../input/eval/item.parquet')

In [22]:
di30 = gezi.read_parquet('../input/train/part_30/item.parquet')

In [23]:
die

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv
0,5893106,25,1411552000,[],600008821,3174145329,2234347078,0,86.110001,0.000,1004.0
1,15819492,98,1407204002,"[2950753864, 3600550670, 3606342894, 333836411...",638675564,1413776458,2234347078,0,6954.200195,0.065,1392.0
2,16814925,21,1380506136,[],511097257,3174145329,2234347078,0,317.190002,0.000,4360.0
3,38297769,112,1425690005,"[3115812425, 2144664037, 1221620183, 325915182...",2168442617,1413776458,472867291,0,42.509998,0.000,5832.0
4,53280242,85,1367558225,"[591536023, 1613895128, 2189138809, 559740265,...",155617312,3443952599,3172394293,0,376.049988,0.000,248.0
...,...,...,...,...,...,...,...,...,...,...,...
57230,4248901384,21,1422849565,"[3902504787, 1235418045, 3804658193]",4074303298,1820266297,2234347078,0,1387.569946,0.000,5376.0
57231,4251549294,102,1331483047,"[3491274685, 3673020319, 420212420, 2851531837...",3840315261,1413776458,3445748691,0,57.770000,0.000,80.0
57232,4255628613,33,1413545288,[1134598214],1016220003,1820266297,2234347078,0,35.970001,0.000,480.0
57233,4272496705,80,1387029762,"[3309131045, 2561243119, 184102567, 2880021111...",435329116,1820266297,472867291,0,115.540001,0.000,92.0
57234,4283547666,58,1424684908,"[2142910698, 1316768238, 1853987563, 1984414365]",2753664459,470292959,2234347078,0,154.779999,0.045,10440.0

In [7]:
die[die.vid==4272496705]

NameError: name 'die' is not defined

In [24]:
len(di1.second_class.unique())

274

In [25]:
di1.stars[1]

array([2950753864, 3600550670, 3606342894, 3338364112, 1616373015,
        104796805])

In [26]:
t = pq.read_table('../input/train/part_1/user.parquet')
du1 = t.to_pandas()

In [27]:
du1

,did,watch
0,b85ee45e0b0f0d32ea27b83859943bd8,"[[1424450711, 1970231413], [1424450128, 209639..."
1,ec51024cacd62b2f44a5dedeab3b3ddd,"[[1424447915, 3224674369], [1424442687, 218108..."
2,805a6dfc253c8fd72fff89a1468bf101,"[[1424433395, 3683265124], [1424177945, 271756..."
3,681af5bb683758603018eb30ced355a5,"[[1424429841, 3753149116], [1424416653, 194721..."
4,2f66caafbdd897ed371378323a2b9c41,"[[1424433612, 113020635], [1424314589, 3359125..."
...,...,...
75012,d679be3058b1c1b39e45ce22211cc2aa,"[[1424437707, 3168322038], [1424437583, 263846..."
75013,ffd7e854e2d6ae73ae31a3ce09e17992,"[[1424431182, 597364737], [1424404501, 2779388..."
75014,b36e5a2d261cd9ec0f4b5f8424e9f1b9,"[[1424348459, 1123409917]]"
75015,916739a22226633e38c3ed2ea6b6ba44,"[[1424453233, 1343904424], [1424450895, 145739..."
75016,eb95a45ba5f774a42c057c88f7db44ed,"[[1424439918, 2966905610], [1424438129, 335531..."

In [28]:
du30 = gezi.read_parquet('../input/train/part_30/user.parquet')
du30

,did,watch
0,ec51024cacd62b2f44a5dedeab3b3ddd,"[[1426951647, 392178405], [1426948166, 2329609..."
1,e955cbbb099892dc8f6f3fb594ced710,"[[1426959713, 3784139339], [1426958209, 818147..."
2,e8ae4e4849f8c9a1e113d2c8b2654532,"[[1426950645, 1083423540], [1426950539, 119057..."
3,0c185e11deabef240415a6d5596c6fcf,"[[1426937047, 2633810051], [1426907692, 348815..."
4,668f8f04e920af6005177ece3d06309c,"[[1426944769, 3392895176], [1426944676, 263381..."
...,...,...
92290,7e92b833c60c61731f41822804b4b757,"[[1426948745, 4212935773], [1426948260, 293125..."
92291,e71abbf6c2ee6992d5bc7c6f86f433d8,"[[1426945479, 4101685914], [1426945376, 415305..."
92292,5a7ee331f09ec8f87dc5c0dc1823928a,"[[1426921816, 4153053381], [1426921294, 309199..."
92293,3c9d39a68f7c58fde21a2bd9196f6d76,"[[1426911634, 1099256000], [1426910255, 311265..."
92294,89fb732ebbc2df0eb4928b4b006644c6,"[[1426939574, 2370410637], [1426939503, 218254..."

In [29]:
du29 = gezi.read_parquet('../input/train/part_29/user.parquet')
du29

,did,watch
0,e29be77eb3eafaf27e1b240d9fd94295,"[[1426784837, 3783061137], [1426784780, 163468..."
1,0afa206621a89461185d97968a46778f,"[[1426597874, 2641330672], [1426589028, 355514..."
2,59221135262c2f11107e611178fbe1cd,"[[1426852510, 1208039942], [1423489809, 309774..."
3,1de853f86071440fde852e287ffc14eb,"[[1426860433, 4151932003], [1426852617, 197837..."
4,a8a925796a4ca218243e0cda1a20e2f2,"[[1426785134, 3330554546], [1424712823, 104409..."
...,...,...
82730,50c8943406f4a36258b83bffc0ed08af,"[[1426733921, 1241012114], [1426650862, 137363..."
82731,5e83e7ed87bee870fdbf71e35bbb72a5,"[[1426853207, 4153053381], [1426853091, 316058..."
82732,738226e08fe25f285593d6a0a1fd1227,"[[1426848521, 33081245], [1426460211, 22045558..."
82733,6ecf068ff8eb3b1a204570a2c493332e,"[[1426858542, 4153053381], [1426816464, 120803..."
82734,e4eb30273c10532090b5c64a48239ce9,"[[1426845753, 1208039942], [1426761233, 149180..."

In [30]:
t = pq.read_table('../input/train/part_2/context.parquet')
d_c2 = t.to_pandas()

In [31]:
d_c2

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
0,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,731596015,1436229803,3065549804,1424450984,0
1,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,2408359345,1285724554,3065549804,1424450952,1
2,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,857908303,0,3065549804,1424451018,2
3,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,1427858618,0,3065549804,1424450987,3
4,0,5138a1999dfadc67a0b6963b7d42c50c,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,97aa418db5bfa71f2289840fb9710ce1,2821273215,0,3065549804,1424450987,4
...,...,...,...,...,...,...,...,...,...,...,...
3319810,1,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,4250365497,1256605048,3781572183,1424454441,3319810
3319811,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,185658087,1860183527,3781572183,1424454441,3319811
3319812,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,3541459314,0,3781572183,1424454442,3319812
3319813,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,636502534,2286263208,3781572183,1424454439,3319813
3319814,0,3e9b0f6563536090873992088b64b9ee,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,0edd34b914d329efd93893604491f99f,3039103562,0,3781572183,1424454442,3319814

In [34]:
dc30

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
0,1,8e420890750df2b77a71e106dd52b17a,3de56d4b5045a6e2430a6c6b605784f4,856984b4b943d983e1ecd063561ede2d,e49dc1e8e576ff35a07e1182f4e98c91,2b738d0aa7695636ab1728073fbd86f6,2150409768,3466833237,1419611539,1426939472,0
1,0,8e420890750df2b77a71e106dd52b17a,3de56d4b5045a6e2430a6c6b605784f4,856984b4b943d983e1ecd063561ede2d,e49dc1e8e576ff35a07e1182f4e98c91,2b738d0aa7695636ab1728073fbd86f6,479266760,0,1419611539,1426940141,1
2,1,8e420890750df2b77a71e106dd52b17a,3de56d4b5045a6e2430a6c6b605784f4,856984b4b943d983e1ecd063561ede2d,e49dc1e8e576ff35a07e1182f4e98c91,2b738d0aa7695636ab1728073fbd86f6,4276937968,0,1419611539,1426939580,2
3,0,8e420890750df2b77a71e106dd52b17a,3de56d4b5045a6e2430a6c6b605784f4,856984b4b943d983e1ecd063561ede2d,e49dc1e8e576ff35a07e1182f4e98c91,2b738d0aa7695636ab1728073fbd86f6,1339723998,1102423729,1419611539,1426939474,3
4,0,8e420890750df2b77a71e106dd52b17a,3de56d4b5045a6e2430a6c6b605784f4,856984b4b943d983e1ecd063561ede2d,e49dc1e8e576ff35a07e1182f4e98c91,2b738d0aa7695636ab1728073fbd86f6,2488612978,0,1419611539,1426939580,4
...,...,...,...,...,...,...,...,...,...,...,...
3324508,0,d6380a5e93a7e09610801ee26ede1e86,9de1665e6430fa58785027dbf9ab53e0,3c0d3cb9415e8312b13cda9d0f111230,21032c3a66d86aa1d99127d4b97cb548,4d37aa0475ef29b6169e52c43e5ade94,751548132,0,2079574584,1426949698,3324508
3324509,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,3592760380,526526995,3004987730,1426943422,3324509
3324510,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,4054701265,0,3004987730,1426943425,3324510
3324511,1,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,543883306,3859789495,3004987730,1426943420,3324511
3324512,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,1265262632,0,3004987730,1426943425,3324512

In [35]:
vinfo = pq.read_table('../input/train/raw.parquet').to_pandas()

In [36]:
ls ../input/train/

context_vids.txt  part_14/  part_2/   part_25/  part_30/  part_9/
part_1/           part_15/  part_20/  part_26/  part_4/   raw.parquet
part_10/          part_16/  part_21/  part_27/  part_5/   vids.txt
part_11/          part_17/  part_22/  part_28/  part_6/   watch_vids.txt
part_12/          part_18/  part_23/  part_29/  part_7/
part_13/          part_19/  part_24/  part_3/   part_8/

In [37]:
import pickle
d_cs = []
for i in tqdm(range(30)):
  dir_ = f'../input/train/part_{i+1}'
  t = pq.read_table(f'{dir_}/context.parquet')
#   pickle.dump(set(t.did.values), open(f'{dir_}/dids_1.pkl', 'wb'))
#   pickle.dump(set(t.vid.values), open(f'{dir_}/vids_1.pkl', 'wb'))
  d_cs += [t.to_pandas()]
#   dt = pd.concat(d_cs)
#   pickle.dump(set(dt.did.values), open(f'{dir_}/dids.pkl', 'wb'))
#   pickle.dump(set(dt.vid.values), open(f'{dir_}/vids.pkl', 'wb'))
d_c = pd.concat(d_cs)
d_c

100%|██████████| 30/30 [00:33<00:00,  1.30s/it]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
0,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,1904212554,0,2247014434,1424424164,0
1,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,4106149810,2572513449,2247014434,1424424153,1
2,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3471448782,0,2247014434,1424424165,2
3,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3408428944,0,2247014434,1424424159,3
4,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3897511701,0,2247014434,1424424165,4
...,...,...,...,...,...,...,...,...,...,...,...
3324508,0,d6380a5e93a7e09610801ee26ede1e86,9de1665e6430fa58785027dbf9ab53e0,3c0d3cb9415e8312b13cda9d0f111230,21032c3a66d86aa1d99127d4b97cb548,4d37aa0475ef29b6169e52c43e5ade94,751548132,0,2079574584,1426949698,3324508
3324509,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,3592760380,526526995,3004987730,1426943422,3324509
3324510,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,4054701265,0,3004987730,1426943425,3324510
3324511,1,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,543883306,3859789495,3004987730,1426943420,3324511
3324512,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,1265262632,0,3004987730,1426943425,3324512

In [38]:
t = pq.read_table('../input/train/part_27/context.parquet')
dc27 = t.to_pandas()

In [39]:
t = pq.read_table('../input/train/part_28/context.parquet')
dc28 = t.to_pandas()

In [40]:
t = pq.read_table('../input/train/part_29/context.parquet')
dc29 = t.to_pandas()

In [41]:
t = pq.read_table('../input/train/part_30/context.parquet')
dc30 = t.to_pandas()

In [42]:
dc30.did.nunique()

92295

In [43]:
dc30.label.mean()

0.07856609374064713

In [44]:
import random

In [45]:
dc30['score'] = dc30.label.apply(lambda x:random.random())

In [46]:
dc30.score

0          0.084405
1          0.655310
2          0.372166
3          0.832198
4          0.660671
             ...
3324508    0.627115
3324509    0.397332
3324510    0.624956
3324511    0.011165
3324512    0.546203
Name: score, Length: 3324513, dtype: float64

In [47]:
from projects.ai.mango.src import evaluate

In [48]:
# evaluate.group_auc(dc30.label.values, dc30.score.values, dc30.did.values)

In [49]:
d_c.did.nunique()

1177350

In [50]:
t = pq.read_table('../input/eval/context.parquet')
dce = t.to_pandas()

In [51]:
dce

,mod,mf,aver,sver,did,vid,prev,timestamp,index,region
0,398b0b8ab9310f019835d4501687cf26,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,e49dc1e8e576ff35a07e1182f4e98c91,d4cd1b51cfa81a91371911d2c2200805,2423340274,0,1427079052,0,3630555764
1,5e7e4ffa4591e820b5087aa3e1c71507,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,c8402ed2728240a7094d9cd47a64523e,1382533306,0,1427069477,1,3548503754
2,591ebc039b246bc4b31fe1c5eea5c95c,9a6e6cc222b26cc083646e13c32730ab,58655385700ba140fd860b23e2e1e9f6,94da3034f761cdce064433beb766449a,e144d82664c86cabcebd2cf0a400325e,3909211655,3012239822,1427088129,2,4142207059
3,693fbd70f2c7fb6e2cb6361f53eb5ee4,9a6e6cc222b26cc083646e13c32730ab,58655385700ba140fd860b23e2e1e9f6,3972c2aef021667834ae94db2220e845,05e86f77c9aea5b153e70194e172a3f4,3739176805,0,1427078750,3,4077617361
4,591ebc039b246bc4b31fe1c5eea5c95c,9a6e6cc222b26cc083646e13c32730ab,51b430ea3c1e69117f47831ec512a334,9202ffbeb9649f708fe3a745fe59b916,b847c153664ba1defed76fd73aa6d93e,1250204413,0,1427041170,4,2226260068
...,...,...,...,...,...,...,...,...,...,...
5565244,985d40fab040c84c65f892595fe9f7f2,fce8cc8ce0587de13c3fecbc13537746,a4ae7310d52aeec7511d20bd29289974,590a860a7867ed866c1c6954611f10aa,629d03f87a53041ae4ec3efe18f976d7,1205897918,0,1427109379,5565244,613774136
5565245,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,2578931557,0,1427087632,5565245,1349132655
5565246,6186d14de34ab94754e384f56ac5c0bd,49b4350906323cb44f6ce51ab22f2379,58655385700ba140fd860b23e2e1e9f6,e49dc1e8e576ff35a07e1182f4e98c91,d672d8a6a7ea51ef3549b056b103f6ef,1956588681,0,1427110743,5565246,1132350273
5565247,e277978dc2149421abd2b4b7b69774f7,9de1665e6430fa58785027dbf9ab53e0,58655385700ba140fd860b23e2e1e9f6,ba195dd85894d6957bc61edca5ac7026,12fdab344ac3ee2a28e58f8aa034d8ac,4262689349,1335345942,1427124658,5565247,3781572183
5565248,f0c1a2307e75ee051478a212480b7aa1,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,e49dc1e8e576ff35a07e1182f4e98c91,43bd00ef779e3540dace7e7faaf0f2fa,1438669718,3097904224,1427103708,5565248,4036996937

In [52]:
# pickle.dump(set(dc30.did.values), open(f'../input/train/part_30/dids_1.pkl', 'wb'))
# pickle.dump(set(dc30.vid.values), open(f'../input/train/part_30/vids_1.pkl', 'wb'))
# pickle.dump(set(dce.did.values), open(f'../input/eval/dids_1.pkl', 'wb'))
# pickle.dump(set(dce.vid.values), open(f'../input/eval/vids_1.pkl', 'wb'))
# dall = pd.concat([dce, d_c])
# pickle.dump(set(dall.did.values), open(f'../input/eval/dids.pkl', 'wb'))
# pickle.dump(set(dall.vid.values), open(f'../input/eval/vids.pkl', 'wb'))

In [53]:
dce.did.nunique()

156638

In [54]:
len(set(dce.did).difference(set(dc30.did)))

151599

In [55]:
len(set(dce.vid).difference(set(dc30.vid)))

18266

In [56]:
len(set(dce.vid))

43407

In [57]:
len(dce) / len(set(dce.did))

35.529367075677676

In [58]:
len(set(dce.did))

156638

In [59]:
len(dc30) / len(set(dc30.did))

36.02051032016902

In [60]:
len(set(dc30.did))

92295

In [61]:
len(set(dc29.did))

82735

In [62]:
len(set(dc28.did))

71742

In [63]:
len(set(dc1.did))

75017

In [64]:
len(set(dce.did).difference(set(dc30.did)))/len(set(dce.did))

0.9678302838391706

In [65]:
len(set(dce.did).difference(set(d_c.did)))/len(set(dce.did))

0.8498640176713186

In [66]:
len(set(dc30.did).difference(set(dc28.did)))/len(set(dc30.did))

0.8987160734601007

In [67]:
len(set(dc30.did).difference(set(dc29.did)))/len(set(dc30.did))

0.8733517525326399

In [68]:
len(set(dc30.vid).difference(set(dc28.vid)))/len(set(dc30.vid))

0.30079748745265883

In [69]:
len(set(dc30.vid).difference(set(dc29.vid)))/len(set(dc30.vid))

0.2758567601687348

In [70]:
len(set(dc30.vid).difference(set(dc27.vid)))/len(set(dc30.vid))

0.2865412445730825

In [71]:
len(set(dce.vid).difference(set(dc30.vid)))/len(set(dce.vid))

0.42080770382657173

In [72]:
len(set(dce.vid).difference(set(d_c.vid)))/len(set(dce.vid))

0.06639482111180224

In [73]:
len(set(dce.did).difference(set(d_c.did)))/len(set(dce.did))

0.8498640176713186

In [74]:
len(set(dc30.did).difference(set(dc1.did)))/len(set(dc30.did))

0.9423045668779457

In [75]:
time.localtime(dc30.timestamp[0]).tm_mday

21

In [76]:
dc30['day'] = dc30.timestamp.apply(lambda x: time.localtime(x).tm_mday)

In [77]:
dc30.day[dc30.day==20]

302547     20
402348     20
604320     20
604321     20
920052     20
920057     20
976436     20
976464     20
1107121    20
1523440    20
1824944    20
1824950    20
1844370    20
2283858    20
2283859    20
3260354    20
Name: day, dtype: int64

In [78]:
dce['day'] = dce.timestamp.apply(lambda x: time.localtime(x).tm_mday)

In [79]:
dce[dce.did=='ccf1b4abc81fffd830d770b3f7eceac5']

,mod,mf,aver,sver,did,vid,prev,timestamp,index,region,day
5521819,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,1108836843,0,1427087632,5521819,1349132655,23
5522279,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,4049911516,0,1427087632,5522279,1349132655,23
5528379,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,1579686363,0,1427087632,5528379,1349132655,23
5532980,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,3131495765,0,1427087632,5532980,1349132655,23
5535773,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,3906721310,0,1427087632,5535773,1349132655,23
5539834,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,4228734880,0,1427087632,5539834,1349132655,23
5542147,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,3674797174,1307270647,1427087632,5542147,1349132655,23
5545412,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,1562302791,4233446058,1427087632,5545412,1349132655,23
5547386,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,2713919673,0,1427087632,5547386,1349132655,23
5548797,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,3319024092,0,1427087632,5548797,1349132655,23
5550159,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,3980730321,0,1427087632,5550159,1349132655,23
5553994,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,3233920140,0,1427087632,5553994,1349132655,23
5555129,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,1617970278,374694284,1427087632,5555129,1349132655,23
5564752,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,2526846199,1994135396,1427087632,5564752,1349132655,23
5564822,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,1743874487,0,1427087632,5564822,1349132655,23
5565245,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,2578931557,0,1427087632,5565245,1349132655,23

In [80]:
dc30.did

0          2b738d0aa7695636ab1728073fbd86f6
1          2b738d0aa7695636ab1728073fbd86f6
2          2b738d0aa7695636ab1728073fbd86f6
3          2b738d0aa7695636ab1728073fbd86f6
4          2b738d0aa7695636ab1728073fbd86f6
                         ...
3324508    4d37aa0475ef29b6169e52c43e5ade94
3324509    3cd428138b93cf3aebebccaeb649d971
3324510    3cd428138b93cf3aebebccaeb649d971
3324511    3cd428138b93cf3aebebccaeb649d971
3324512    3cd428138b93cf3aebebccaeb649d971
Name: did, Length: 3324513, dtype: object

In [81]:
dc30.groupby('did').size().mean()

36.02051032016902

In [82]:
dce.groupby('did').size()

did
0000b3b8627ea833eb7731f9b1b5a60e     51
0000f799b31df5ce5cc710630ecbe9b6     14
0000fb50045f6732120925b6a15d050f    264
00013120bca77b65fda2df8525ccf30e      9
0001a7c629a5cc2bfd52a8918f30d2cc     19
                                   ...
fffd13a011c8cadd34f4b830d6cc6f88     28
fffdaa902c3d5567aca230478b3f1a62     10
fffe6adca4c73d1a78be609b72d5ac16      9
fffee408440d7646305f793d5050ff97     60
ffffc5268ae6a29e7c41b553694a4013     15
Length: 156638, dtype: int64

In [83]:
dce[dce.did=='0000fb50045f6732120925b6a15d050f']

,mod,mf,aver,sver,did,vid,prev,timestamp,index,region,day
779109,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,3136848466,0,1427041490,779109,3618332974,23
779163,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,4210035594,0,1427041490,779163,3618332974,23
779258,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,315087530,0,1427041490,779258,3618332974,23
780352,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,1931681183,0,1427041490,780352,3618332974,23
780468,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,4195038968,0,1427041490,780468,3618332974,23
...,...,...,...,...,...,...,...,...,...,...,...
824651,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,436749138,0,1427041490,824651,3618332974,23
824745,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,2936801009,0,1427041490,824745,3618332974,23
824765,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,806540076,0,1427041490,824765,3618332974,23
824777,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,4008099164,0,1427041490,824777,3618332974,23
825088,584010a1c0b7ce463539cd5b66df9b67,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,0000fb50045f6732120925b6a15d050f,2742731966,0,1427041490,825088,3618332974,23

In [84]:
dc30.groupby('did').size()

did
0000aa68cb571181da9ce69d451e67c9      6
00023cbd0728e89fb5ed2fed5fd83612      3
0002a1d83ecdb9cd70518fd350c5ace4      5
0002a9e5f68969e3d488699dfd1ac76c    182
0003c32bfde744bd2aabee5b18f9ced1     18
                                   ...
fffcb12ac5b86cde96de249e5b8655fe      5
fffcb7794e1e7496f687c52429fd8c05      6
fffda6aa89e05634706b97f065976baf      9
fffde0944591a1e0391fffd795ec6ec4    246
fffec4082de126350b3ae3743e359e42     18
Length: 92295, dtype: int64

In [85]:
dc30[dc30.did=='0002a9e5f68969e3d488699dfd1ac76c'].timestamp.max() - dc30[dc30.did=='0002a9e5f68969e3d488699dfd1ac76c'].timestamp.min()

26351

In [86]:
26351 / 60 / 60

7.3197222222222225

In [87]:
time.localtime(1427039999)

time.struct_time(tm_year=2015, tm_mon=3, tm_mday=22, tm_hour=23, tm_min=59, tm_sec=59, tm_wday=6, tm_yday=81, tm_isdst=0)

In [88]:
time.localtime(dc1.timestamp[0])

time.struct_time(tm_year=2015, tm_mon=2, tm_mday=20, tm_hour=17, tm_min=22, tm_sec=44, tm_wday=4, tm_yday=51, tm_isdst=0)

In [89]:
time.localtime(dce.timestamp[0])

time.struct_time(tm_year=2015, tm_mon=3, tm_mday=23, tm_hour=10, tm_min=50, tm_sec=52, tm_wday=0, tm_yday=82, tm_isdst=0)

In [90]:
time.localtime(dce.timestamp[1])

time.struct_time(tm_year=2015, tm_mon=3, tm_mday=23, tm_hour=8, tm_min=11, tm_sec=17, tm_wday=0, tm_yday=82, tm_isdst=0)

In [91]:
time.localtime(dce.timestamp.values[-1])

time.struct_time(tm_year=2015, tm_mon=3, tm_mday=23, tm_hour=17, tm_min=41, tm_sec=48, tm_wday=0, tm_yday=82, tm_isdst=0)

In [92]:
a = set(d_c.did.values)

In [93]:
b = set(d_c2.did.values)

In [94]:
len(a.difference(b))

1101021

In [95]:
len(b.difference(a))

0

In [96]:
len(b)

76329

In [97]:
d_c.vid.nunique()

162719

In [98]:
a = set(d_c.vid.values)

In [99]:
b = set(d_c2.vid.values)

In [100]:
len(b.difference(a))

0

In [101]:
len(b)

46280

In [102]:
type(d_u.watch[0][0][1])

NameError: name 'd_u' is not defined

In [ ]:
1319215923 in b

In [ ]:
1319215923 in vinfo.vid.values

In [ ]:
819753845 in vinfo.vid.values

In [ ]:
t = pq.read_table('../input/train/part_2/user.parquet')
d_u = t.to_pandas()

In [ ]:
d_u.watch

In [ ]:
2500292537 in vinfo.vid.values

In [ ]:
2500292537 in vinfo.vid.values

In [ ]:
vinfo

In [ ]:
vinfo.image_emb

In [ ]:
dall = d_c

In [ ]:
len(set(dce.vid).difference(set(dc30.vid))) / len(set(dce.vid))

In [ ]:
len(set(dc30.vid).difference(set(dc29.vid))) / len(set(dc30.vid))

In [ ]:
len(set(dc29.vid).difference(set(dc28.vid))) / len(set(dc29.vid))

In [ ]:
len(set(dce.vid).difference(set(dall.vid))) / len(set(dce.vid))

In [ ]:
len(set(dc30.vid))

In [ ]:
len(set(dc1.vid))

In [ ]:
len(set(dc30.vid).difference(set(dc1.vid))) / len(set(dc30.vid))

In [ ]:
due = gezi.read_parquet('../input/eval/user.parquet')

In [ ]:
due

In [ ]:
dall.prev.nunique()

In [ ]:
dce.prev.nunique()

In [ ]:
len(set(dce.vid).difference(dall.vid)) / len(set(dce.vid))

In [ ]:
len(set(dce.vid).difference(set(dc30.vid).union(dc29.vid))) / len(set(dce.vid))

In [ ]:
len(set(dce.vid).difference(set(dc30.vid).union(dc29.vid).union(dc28.vid))) / len(set(dce.vid))

In [ ]:
len(set(dce.vid).difference(set(dc30.vid).union(dc29.vid).union(dc28.vid).union(dc27.vid))) / len(set(dce.vid))

In [ ]:
len(set(dce.vid).difference(set(dc30.vid).union(dc29.vid).union(dc28.vid).union(dc1.vid))) / len(set(dce.vid))

In [ ]:
len(set(dce.vid).difference(set(dall.vid))) / len(set(dce.vid))

In [ ]:
len(set(dce.prev).difference(dall.prev)) / len(set(dce.prev))

In [ ]:
len(set(dc30.prev).difference(dc29.prev)) / len(set(dc30.prev))

In [ ]:
dce.vid.nunique()

In [ ]:
dall.vid.nunique()

In [ ]:
vinfo.vid.nunique()

In [ ]:
len(set(dce.vid).union(set(dall.vid)))

In [ ]:
set(dce.vid).difference(vinfo.vid)

In [ ]:
set(dall.vid).difference(vinfo.vid)

In [ ]:
set(dce.prev).difference(vinfo.vid)

In [ ]:
du1.watch = du1.watch.apply(json.loads)

In [ ]:
du30.watch = du30.watch.apply(json.loads)

In [ ]:
du29.watch = du29.watch.apply(json.loads)

In [ ]:
due.watch = due.watch.apply(json.loads)

In [ ]:
du1.watch[0]

In [ ]:
due.watch[0]

In [ ]:
time.localtime(du1.watch[0][0][0])

In [ ]:
time.localtime(du1.watch[0][-1][0])

In [ ]:
time.localtime(du1.watch.values[-1][0][0])

In [ ]:
time.localtime(du1.watch.values[-1][-1][0])

In [ ]:
du1.watch.values[-1][0][1] in set(vinfo.vid)

In [ ]:
time.localtime(du30.watch[0][0][0])

In [ ]:
all_vids = set(vinfo.vid)

In [ ]:
w1_vids = set()
for i in tqdm(range(len(du1))):
  for j in range(len(du1.watch[i])):
    all_vids.add(du1.watch[i][j][1])
    w1_vids.add(du1.watch[i][j][1])

In [ ]:
w30_vids = set()
for i in tqdm(range(len(du30))):
  for j in range(len(du30.watch[i])):
    w30_vids.add(du30.watch[i][j][1])

In [ ]:
w29_vids = set()
for i in tqdm(range(len(du29))):
  for j in range(len(du29.watch[i])):
    w29_vids.add(du29.watch[i][j][1])

In [ ]:
len(all_vids.difference(set(vinfo.vid)))

In [ ]:
len(all_vids.difference(set(vinfo.vid))) / len(w1_vids)

In [ ]:
len(w1_vids)

In [ ]:
time.localtime(due[due.did=='00037fff9508f7f92b3b9239e0eefb52'].watch[0][0][0])

In [ ]:
dce[dce.did=='00037fff9508f7f92b3b9239e0eefb52']

In [ ]:
time.localtime(due.watch[0][0][0])

In [ ]:
time.localtime(du1.watch.values[0][-1][0])

In [ ]:
time.localtime(du1.watch.values[-1][0][0])

In [ ]:
time.localtime(du1.watch.values[-1][-1][0])

In [ ]:
alle_vids = set(vinfo.vid)
we_vids = set()
for i in tqdm(range(len(due))):
  for j in range(len(due.watch[i])):
    alle_vids.add(due.watch[i][j][1])
    we_vids.add(due.watch[i][j][1])

In [ ]:
len(alle_vids.difference(set(vinfo.vid))) / len(alle_vids)

In [ ]:
len(we_vids.difference(set(dc30.vid))) / len(we_vids)

In [ ]:
len(we_vids.difference(set(dall.vid))) / len(we_vids)

In [ ]:
len(w1_vids.difference(set(dall.vid))) / len(w1_vids)

In [ ]:
len(we_vids.difference(set(dc30.vid))) / len(we_vids)

In [ ]:
len(we_vids.difference(set(dc30.vid) | set(w30_vids))) / len(we_vids)

In [ ]:
len(w30_vids.difference(set(dc29.vid) | set(w29_vids))) / len(w30_vids)

In [ ]:
len(w30_vids.difference(set(dc1.vid) | set(w1_vids))) / len(w30_vids)

In [ ]:
len(w30_vids.difference(set(dc1.vid))) / len(w30_vids)

In [ ]:
len(w30_vids.difference(set(dc29.vid))) / len(w30_vids)

In [ ]:
len(alle_vids.difference(set(dc30.vid))) / len(alle_vids)

In [ ]:
len(alle_vids - all_vids) / len(alle_vids)

In [ ]:
vinfo

In [ ]:
dall.timestamp.describe()

In [ ]:
time.localtime(dall.timestamp.max())

In [ ]:
time.localtime(dall.timestamp.min())

In [ ]:
time.localtime(dce.timestamp.max())

In [ ]:
time.localtime(dce.timestamp.min())

In [ ]:
len(set(dce.vid) - set(dall.vid))

In [ ]:
len(set(dce.vid) & set(dall.vid))

In [ ]:
len(set(dce.vid))

In [ ]:
len(set(dall.vid))

In [ ]:
dce.vid[0]

In [ ]:
dce[dce.vid==2423340274]

In [ ]:
len(vinfo)

In [ ]:
len(die)

In [ ]:
len(di1)

In [ ]:
len(set(die.vid))

In [ ]:
set(die.vid) - set(vinfo.vid)

In [ ]:
set(dce.vid) - set(vinfo.vid)

In [ ]:
dce.timestamp.mean()

In [ ]:
dce.timestamp.max()

In [ ]:
dce.timestamp.min()

In [ ]:
dce['hour'] = dctime.localtime(x).tm_hour

In [ ]:
df = dce.merge(die, how="left", on="vid")

In [ ]:
((df.timestamp_x - df.timestamp_y) / (3600*24*365)).min()

In [ ]:
df30 = dc30.merge(di30, how="left", on="vid")

In [ ]:
(df30.timestamp_x - df30.timestamp_y).mean()

In [ ]:
(df.timestamp_x - df.timestamp_y).mean()

In [ ]:
((df30.timestamp_x - df30.timestamp_y) / (3600*24)).mean()

In [ ]:
df.timestamp_x

In [ ]:
df.timestamp_y

In [ ]:
time.localtime(df.timestamp_x[0])

In [ ]:
time.localtime(df.timestamp_y[0])

In [ ]:
df.timestamp_x - df.timestamp_y

In [ ]:
2143961 / (3600 * 24)

In [ ]:
(df.timestamp_x - df.timestamp_y).argmax()

In [ ]:
time.localtime(df.timestamp_x[1778622])

In [ ]:
time.localtime(df.timestamp_y[1778622])

In [ ]:
((df30.timestamp_x - df30.timestamp_y) / (3600*24)).describe()

In [ ]:
((df.timestamp_x - df.timestamp_y) / (3600*24)).describe()

In [ ]:
((df.timestamp_x - df.timestamp_y) / (3600*24)).max()

In [ ]:
dce